@if (updateSvc.updateAvailable()) {
    @if (!updateSvc.updating()) {
        <div class="update-prompt">
            <p>new version is available</p>
            @if (updateSvc.latestVersion(); as latestVersion) {
                <p>{{updateSvc.currentVersion()}} → {{latestVersion}}</p>
            }
            <div class="actions">
                <button type="button" (click)="updateSvc.update()">update</button>
                <button type="button" (click)="updateSvc.postpone()">later</button>
            </div>
        </div>
    }@else {
        <div class="update-overlay">
            <div class="update-dialog">
                <div class="spinner"></div>
                <h3>updating...</h3>
                <small>please don't close the application</small>
            </div>
        </div>
    }
}
