<div class="alarm-group">
    <header>
        @if (!group().system) {
            <button (click)="facade.toggleGroup(group())">{{group().expanded?'close':'open'}}</button>
            @if (editing()) {
                <input #titleInput type="text"
                [value]="group().title"
                (keydown.enter)="saveTitle(titleInput.value)"
                (keydown.escape)="cancelRename()"
                (blur)="saveTitle(titleInput.value)" />
            }@else {
                <span>{{group().title}}</span>
                <button (click)="startRename()">rename</button>
            }
            <button (click)="facade.requestDeleteGroup(group())">delete</button>
        }
    </header>
    @if (group().expanded) {
        <div cdkDropList
            [cdkDropListData]="group().alarms"
            [cdkDropListDisabled]="dragDisabled()"
            (cdkDropListDropped)="drop($event)">
            @for (alarm of group().alarms; track alarm.id) {
                <app-alarm-card cdkDrag [cdkDragDisabled]="dragDisabled()" [alarm]="alarm" />
            }
        </div>
    }
</div>
