<div class="chart">
    @for (point of points(); track point.label; let i=$index) {
        <div class="column">
            <div class="bar" 
                [style.height.%]="values()[i]" 
                [style.--delay]="animate()?1:0"
                [style.duration.ms]="duration()"
                [style.easing]="easing()">
                @if (showTooltip()) {
                    <span class="tooltip">{{point.value}}</span>
                }
            </div>
            @if (showLabels()) {
                <span class="label">{{point.label}}</span>
            }
        </div>
    }
</div>
