<div class="overlay">
    <div class="dialog">
        <h2>time is over</h2>
        <h3>{{timer().title()}}</h3>
        <div class="time">
            {{timer().engine.totalHours() | number:'2.0'}}:
            {{timer().engine.totalMinutes() | number:'2.0'}}:
            {{timer().engine.totalSeconds() | number:'2.0'}}:
        </div>
        <div class="buttons">
            <button (click)="repeat.emit()">repeat</button>
            <button (click)="stop.emit()">stop</button>
        </div>
    </div>
</div>
