:host {
  display: block;
}

.heatmap {
  display: flex;
  gap: 8px;
}

.week {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.month {
  width: 28px;
  height: 18px;
  font-size: 0/65rem;
  text-align: center;
}

.cell {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  transition: .15s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.25);
  }

  &.zero {
    background: #2f2f2f;
  }

  &.one {
    background: #3dbb5a;
  }

  &.two {
    background: #70d44c;
  }

  &.three {
    background: #d7d93d;
  }

  &.four {
    background: #ef6c3c;
  }
}

.favorite-progress {
  display: grid;
  block-size: 4px;
  inline-size: 100%;
  min-inline-size: 200px;
  max-inline-size: 300px;
  border: 1px solid green;
  overflow: hidden;
}

.favorite-progress>span {
  block-size: 100%;
  inline-size: var(--progress);
  background: green;
}

.dashboard-grid {
  width: 100%;
  display: flex;
}